<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LightSpread Gallery</title>
    <link rel="stylesheet" href="dist/gallery.css">
</head>
<body>
    <div class="container-fluid text-center text-white">
        <p>Bild anklicken, um es zu vergrößern</p>
        <div id="loader"><span class="fas fa-spinner fa-spin"></span></div>
        <div id="lightgallery" class="row text-center text-lg-left">
        </div>
        <p class="text-white">Powered by <a href="https://github.com/Art4/lightspread" class="open-external" target="_blank">LightSpread</a></p>
    </div>
    <script src="dist/gallery.js"></script>
</body>
</html>
