<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LightSpread Gallery</title>
    <link rel="stylesheet" href="dist/gallery.css">
</head>
<body>
    <div class="container-fluid text-center text-white">
        <h1>LightSpread</h1>
        <div id="loader"><span class="fas fa-spinner fa-spin"></span></div>
        <div id="lightgallery" class="row text-center text-lg-left">
        </div>
        <p class="text-white">Build with LightSpread.</p>
    </div>
    <script src="dist/gallery.js"></script>
</body>
</html>
